::ng-deep body {
  font-family: "Open Sans", "sans-serif";
  font-size: 16px;
}

.two-gunman {
  display: flex;
  flex-direction: row;
}

.two-gunman .gunman {
  padding: 20px;
  flex-basis: 49%;
  flex-grow: 0;
  flex-shrink: 0;
}

.submit-button {
  display: flex;
  align-self: flex-end;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}
